<nav>
  <% if user_signed_in? %>
    <%= link_to "Home", blog_index_path %>
    <span class='user-greeting'> <%= "Welcome, #{current_user.username}" %> </span>
    <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
  <% else %>
    <%= link_to "Home", blog_index_path %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
</nav>