<nav>
  <% if user_signed_in? %>
    <span class='user-greeting'> <%= "Hi, #{current_user.username}" %> </span><br>
    <span class="navbar"><%= link_to "Home", blog_index_path %></span>
    <span class="navbar"><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></span>
    <span class="navbar"><%= link_to "Donate", new_charge_path %></span>
  <% else %>
    <span class="navbar"><%= link_to "Home", blog_index_path %></span>
    <span class="navbar"><%= link_to "Sign In", new_user_session_path %></span>
    <span class="navbar"><%= link_to "Sign Up", new_user_registration_path %></span>
  <% end %>
</nav>