<h1>Create new post</h1>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>  

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
 
<%# input image %>


  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>