<h1>
  <strong>Title:</strong>
  <%= @post.title %>
</h1>

<p>
  <%= image_tag @post.picture, class: "image" if @post.picture.attached? %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if current_user.id == @post.user_id %>
  <%= link_to 'Edit Post', edit_post_path(@post) %>
  <%= link_to 'Destroy Post', post_path(@post),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
<% end %>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', posts_path %>